<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FBUtility.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FBUtilityApp.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>FBUtilityApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FBUtilityLib.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA17C4DF1939562A003D2C6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA17C5021939562B003D2C6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA5EFE1919356C2800EE8725</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA5EFE2919356C2800EE8725</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EACF56D719C0F98C00DC774C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EACF56E119C0F98C00DC774C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
